<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.inventoryorder">

  <application>
    <activity
      android:name=".ui.FragmentContainerOrderActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.Order"
      android:windowSoftInputMode="adjustResize"/>
    <meta-data
      android:name="preloaded_fonts"
      android:resource="@array/preloaded_fonts" />
  </application>

</manifest>