<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.separ.neural.inputmethod.indic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:name="io.separ.neural.inputmethod.slash.NeuralApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="LatinIME"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!--<receiver android:name="SystemBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="968dbb1e44a4a010d0f540b22b4edbbd77101835" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.separ.neural.inputmethod.inputcontent"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="SuggestionSpanPickedNotificationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.text.style.SUGGESTION_PICKED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".personalization.DictionaryDecayBroadcastReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="io.separ.neural.inputmethod.indic.personalization.DICT_DECAY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DictionaryPackInstallBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.separ.neural.inputmethod.dictionarypack.aosp.UNKNOWN_CLIENT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="io.separ.neural.inputmethod.dictionarypack.DictionaryProvider"
            android:authorities="@string/authority"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="@string/dictionary_provider_name"
            android:multiprocess="false"></provider>

        <service
            android:name="io.separ.neural.inputmethod.dictionarypack.DictionaryService"
            android:label="@string/dictionary_service_name"></service>

        <receiver android:name="io.separ.neural.inputmethod.dictionarypack.EventHandler">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="io.separ.neural.inputmethod.dictionarypack.aosp.UPDATE_NOW" />
            </intent-filter>
        </receiver>

        <service
            android:name="io.separ.neural.inputmethod.colors.WindowChangeDetectingService"
            android:label="NeuralKey"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <service
            android:name="io.separ.neural.inputmethod.colors.NavService"
            android:enabled="true" />

        <service
            android:name=".spellcheck.AndroidSpellCheckerService"
            android:label="@string/spell_checker_service_name"
            android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>
            <meta-data
                android:name="android.view.textservice.scs"
                android:resource="@xml/spellchecker" />
        </service>-->
    </application>
</manifest>
