<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.appservice">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application
    android:requestLegacyExternalStorage="true"
    tools:ignore="UnusedAttribute">
    <activity
      android:name=".ui.catalog.CatalogServiceContainerActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.cataloge"
      android:windowSoftInputMode="adjustPan" />

    <activity
        android:name="com.appservice.ui.bankaccount.AccountFragmentContainerActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.account"
        android:windowSoftInputMode="adjustPan" />

    <activity
        android:name="com.appservice.ui.paymentgateway.PaymentGatewayContainerActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.payment"
        android:windowSoftInputMode="adjustPan" />
    <activity
        android:name=".staffs.ui.StaffFragmentContainerActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme_staff_home"
        android:windowSoftInputMode="adjustPan" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

      <meta-data
          android:name="preloaded_fonts"
          android:resource="@array/preloaded_fonts" />

  </application>
</manifest>