<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.festive.poster">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:name=".FestivePosterApplication">
        <activity
            android:name=".ui.festivePoster.FestivePosterContainerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TemplateTheme" />
        <activity
            android:name=".ui.promoUpdates.PromoUpdatesActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/TemplateTheme" />
        <activity
            android:name=".ui.promoUpdates.edit_post.EditPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TemplateTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.promoUpdates.PostPreviewSocialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TemplateTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.promoUpdates.intro.UpdateStudioIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TemplateTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>