<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.framework">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <queries>
    <package android:name="com.whatsapp" />
    <package android:name="com.google.android.gm" />
    <package android:name="com.facebook.orca" />
    <package android:name="com.facebook.katana" />
    <package android:name="com.twitter.android" />
    <package android:name="com.linkedin.android" />
    <package android:name="com.google.android.apps.plus" />
    <package android:name="com.pinterest" />
    <package android:name="org.telegram.messenger" />
  </queries>

  <application
      android:theme="@style/BaseTheme">

    <activity
        android:name="com.framework.errorHandling.ErrorTransparentActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/Theme.MaterialComponent.NoAction" />

  </application>
</manifest>