<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.dashboard">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:requestLegacyExternalStorage="true"
    tools:ignore="UnusedAttribute">

    <activity
      android:name=".controller.DashboardActivity"
      android:label="@string/dashboard"
      android:screenOrientation="portrait"
      android:launchMode="singleTask"
      android:theme="@style/DashboardTheme"
      android:windowSoftInputMode="adjustPan">
      <intent-filter
        android:autoVerify="true"
        android:label="@string/app_name">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="${applicationId}.keyboard.home"
          android:pathPrefix="/"
          android:scheme="http" />
      </intent-filter>
    </activity>

    <activity
      android:name=".controller.DashboardFragmentContainerActivity"
      android:screenOrientation="portrait"
      android:theme="@style/DashboardTheme"
      android:windowSoftInputMode="adjustPan" />
  </application>
</manifest>