<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boost.presignin">

    <application>
        <activity android:name=".ui.intro.IntroActivity"
            android:theme="@style/AppTheme.Pre.Signin">

        </activity>
    </application>

</manifest>