<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.boost.presignin">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:theme="@style/AppTheme.Pre.Signin"
    android:usesCleartextTraffic="true"
    android:windowSoftInputMode="adjustPan"
    tools:ignore="UnusedAttribute">
    <service
      android:name=".service.APIService"
      android:exported="false" />

    <activity
      android:name=".ui.WebPreviewActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.WebView" />

    <activity
      android:name=".ui.registration.RegistrationActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.Pre.Signin"
      android:windowSoftInputMode="adjustPan" />

    <activity
      android:name=".ui.login.LoginActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.Pre.Signin"
      android:windowSoftInputMode="adjustPan" />

    <activity
      android:name=".ui.DesiredLoginMethodActivity"
      android:screenOrientation="portrait" />

    <activity
      android:name=".ui.AccountNotFoundActivity"
      android:screenOrientation="portrait" />

    <activity
      android:name=".ui.mobileVerification.MobileVerificationActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.Pre.Signin"
      android:windowSoftInputMode="adjustPan|stateVisible" />

    <activity
      android:name=".ui.intro.IntroActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.Pre.Signin"
      android:windowSoftInputMode="adjustPan" />
  </application>

</manifest>