<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boost.presignup">

    <application>
        <activity android:name=".SignUpConfirmation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashFullScreenStyle" />
        <activity
            android:name=".PreSignUpActivity"
            android:configChanges="locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Pre.Signup" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>