<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catlogservice">

    <application>
      <activity
        android:name=".ui.FragmentContainerServiceActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.cataloge"
        android:windowSoftInputMode="adjustPan" />

      <activity
        android:name=".ui.paymentcollect.AccountFragmentContainerActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.account"
        android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>