<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thinksity"
    android:versionCode="2017030028"
    android:versionName="4.6.1">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.nowfloats.Volley.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />

        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!--
            <receiver
            android:name="com.nowfloats.Volley."
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>AndroidGCMBroadcastReceiver
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.biz2.nowfloats" />
            </intent-filter>
        </receiver>
        -->
        <!--
            <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="fb1641508162754092" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nowfloats.signup.UI.UI.PreSignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nowfloats.PreSignUp.PreSignUp_MainActivity" />
        </activity>
        <activity
            android:name="com.nowfloats.Analytics_Screen.SocialAnalytics"
            android:label="Social Analytics"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nowfloats.Analytics_Screen.SocialAnalytics" />
        </activity>
        <activity
            android:name="com.nowfloats.NavigationDrawer.API.twitter.PrepareRequestTokenActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="x-oauthflow-twitter" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nowfloats.signup.UI.UI.WebSiteAddressActivity"
            android:label="@string/title_activity_web_site_address"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nowfloats.signup.UI.UI.PreSignUpActivity" />
        </activity>
        <activity
            android:name="com.nowfloats.Analytics_Screen.SearchQueries"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.Analytics_Screen.SubscriberDetailsActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.signup.UI.UI.BusinessProfileActivity"
            android:label="@string/title_activity_business_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.Business_Enquiries.BusinessEnquiryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nowfloats.Business_Enquiries.BusinessEnquiryActivity" />
        </activity>

        <service android:name="com.nowfloats.bubble.BubblesService" />

        <activity
            android:name="com.nowfloats.NavigationDrawer.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait">
            <intent-filter android:label="Queries">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="com.biz2.nowfloats" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.Business_Address_Activity"
            android:label="@string/title_activity_business__address_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.Contact_Info_Activity"
            android:label="@string/title_activity_contact__info_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nowfloats.Analytics_Screen.Graph.AnalyticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.Business_Hours_Activity"
            android:label="@string/title_activity_business__hours_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.Business_Logo_Activity"
            android:label="@string/title_activity_business__logo_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.Social_Sharing_Activity"
            android:label="@string/title_activity_social__sharing_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="SocialSharing"
                    android:scheme="nowfloatsboost" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBl66AnJ4_icH3gxI_ATc8031pveSTGWcg" />

        <activity
            android:name="com.nowfloats.BusinessProfile.UI.API.NewMapViewDialogBusinessAddress"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.nowfloats.Login.Login_MainActivity"
            android:label="@string/title_activity_login__main"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nowfloats.PreSignUp.PreSignUp_MainActivity" />
        </activity>
        <activity
            android:name="com.nowfloats.PreSignUp.PreSignUp_MainActivity"
            android:label="@string/title_activity_pre_sign_up__main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.QuikrGuidelinesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.Image_Gallery.FullScreen_Gallery_Image"
            android:label="Gallery Image"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.nowfloats.NavigationDrawer.Card_Full_View_MainActivity"
            android:label="@string/title_activity_card__full__view__main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nowfloats.NavigationDrawer.HomeActivity" />
        </activity>
        <activity
            android:name="com.nowfloats.NavigationDrawer.Create_Message_Activity"
            android:label="@string/title_activity_create__message_"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nowfloats.NavigationDrawer.HomeActivity" />
        </activity>
        <activity
            android:name="com.nowfloats.Login.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.PreSignUp.SplashScreen_Activity"
            android:label="@string/title_activity_splash_screen_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">

            <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.biz2.nowfloats"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.Edit_Profile_Activity"
            android:label="@string/title_activity_edit__profile_"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name="com.facebook.LoginActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name="com.mixpanel.android.mpmetrics.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.biz2.nowfloats" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.mixpanel.android.MPConfig.ResourcePackageName"
            android:value="com.biz2.nowfloats" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="4669fbc7b101724f568aca25793835505024bceb" />
        <meta-data
            android:name="com.semusi.analytics.appid"
            android:value="574bc887b794654d042aac89" />
        <meta-data
            android:name="com.semusi.analytics.appkey"
            android:value="5285d57267a47c07fb52c88104514ee03b0019cf" />
        <meta-data
            android:name="com.semusi.analytics.apikkey"
            android:value="5d7cbd43b4b1467966daba64e56d7b36" />

        <activity
            android:name="com.nowfloats.NavigationDrawer.Mobile_Site_Activity"
            android:label="@string/title_activity_mobile__site_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.Store.StoreDataActivity"
            android:label="@string/title_activity_card__full__view__main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.Store.ScreenshotZoomActivity"
            android:parentActivityName="com.nowfloats.Store.StoreDataActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nowfloats.Store.StoreDataActivity" />
        </activity>
        <activity
            android:name="com.nowfloats.Store.DomainLookup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.Product_Gallery.Product_Detail_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nowfloats.Product_Gallery.Product_Detail_Activity_V45"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nowfloats.NavigationDrawer.EditImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.AccountDetails.AccountInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.CustomPage.CreateCustomPageActivity"
            android:screenOrientation="portrait" />
        <!--
            <activity android:name="com.nowfloats.CustomPage.CustomPageActivity"
            android:screenOrientation="portrait" ></activity>
        -->
        <activity
            android:name="com.nowfloats.Business_Enquiries.BusinessEnqUpdateDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.FAQ.FAQMainAcivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.FAQ.FAQ_QandA_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.Twitter.TwitterAuthenticationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nowfloats.BusinessProfile.UI.UI.TwitterLoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!--
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.thinksity" />
            </intent-filter>
        </receiver>
        -->
        <service
            android:name="com.nowfloats.RiaFCM.RiaFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.nowfloats.RiaFCM.RiaFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.nowfloats.Analytics_Screen.SubscribersActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.nowfloats.sync.ContentProvider.BoostContentProvider"
            android:authorities="${applicationId}.provider" />

        <service android:name="com.nowfloats.Product_Gallery.Service.MultipleImageUploadService" />

        <activity android:name="com.nowfloats.SiteAppearance.SiteAppearanceActivity" />
        <activity android:name="com.nowfloats.NavigationDrawer.CreateOffersActivity" />
        <activity android:name="com.nowfloats.NavigationDrawer.OffersFullScreenActivity" />
        <activity android:name="com.nowfloats.PreSignUp.KitsunePreSignUpActivity" />
        <activity android:name="com.nowfloats.NavigationDrawer.HelpAndSupportActivity" />
        <activity android:name="com.nowfloats.Store.ProductCheckoutActivity" />
        <activity android:name="com.nowfloats.NavigationDrawer.RiaWebViewActivity" />
        <activity android:name="com.nowfloats.Analytics_Screen.SearchRankingActivity" />

        <service
            android:name="com.nowfloats.accessbility.DataAccessbilityServiceV3"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter android:priority="2147483647">
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service" />
        </service>

        <activity
            android:name="com.nowfloats.accessbility.BubbleDialog"
            android:autoRemoveFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name="com.nowfloats.accessbility.BubbleInAppDialog"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.bubbleInApp"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name="com.nowfloats.accessbility.WhatsAppBubbleCloseDialog"
            android:autoRemoveFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.bubbleInApp"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name="com.nowfloats.accessbility.WhatsAppDialog"
            android:autoRemoveFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name="com.nowfloats.accessbility.OverlayDialog"
            android:autoRemoveFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name="com.nowfloats.accessbility.TempDisplayDialog"
            android:autoRemoveFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.custom"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity android:name="com.nowfloats.signup.UI.UI.RiaChatInitActivity"></activity>
    </application>

</manifest>